# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ain
!*.fnl
!Kansen4_patch.xp3
!Kansen4_patch/*.ks
!version.dll
!.gitignore
!patch.bat
!README.md
!ENCG/*

# Images
!Command_0.png
!Command_1.png
!Command_2.png